<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
</head>
<body>
<h2>Welcome, <span th:text="${user.username}"></span>!</h2>
<p><strong>First name:</strong> <span th:text="${user.firstname}"></span></p>
<p><strong>Last name:</strong> <span th:text="${user.lastname}"></span></p>
<p><strong>Your role is: </strong> <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span></p>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>